.aboutCon{
    margin-top:200px;
}
.aboutContent p{
    background: linear-gradient(to right,rgb(179, 0, 255),orange);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight:100;
}


.aboutCon img{
    height:300px;
    width:300px;
    border:5px solid cyan;
    border-radius:20px;
    margin-left:70px;
    margin-top:50px;
    box-shadow:0 0 20px white,
               0 0 30px greenyellow,
               0 0 40px cyan;
}

.aboutCon h5{
    font-weight:888;
    color:red
}

.aboutCon strong{
font-weight:999;
color:rgb(0, 191, 255)
}



@media (max-width:768px) {
    
.aboutContent h1{
    font-size:1.5rem;
}
.aboutContent p{
    width:300px;
font-size:1.4rem;
}
.aboutContent strong,h5{
    font-size:1.5rem;
}
.aboutCon img{
    width:240px;
    height:240px;
}


}

@media (max-width:500px) {

.aboutContent p{
    width:300px;
    font-size: 1.2rem;
}


    .aboutCon img{
        width:200px;
        height:200px;
    }
}