.aboutCon{
    display:flex;
    align-items: center;
    justify-content:center;
    margin-top: 200px;
    flex-wrap: wrap;
    
}
.aboutCon img{
    width:350px;
    height:300px;
    border-radius: 10px;
}

.aboutCon .aboutContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

.aboutContent p{
    width:600px;
}
.aboutContent button{
    position: relative;
    font-size: 1.4rem;
    padding: 10px;
    border-radius:30px;
overflow: hidden;
z-index:0;
}


.aboutContent button::before{
    position: absolute;
    content:"";
    height:130%;
    width:0%;
    bottom:5px;
    background-color: aqua;
transition: .4s;
right: 0;
z-index:-1;
}

.aboutContent button:hover::before{
left:0;
width:100%;
}



@media (max-width:810px) {
    
.aboutCon img{
    width:280px;
}
.aboutContent p{
    width:280px;
    margin-right:20px;
}
}