.contactCon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 100px;
}

.contactContent{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contactContent img{
    width: 100vw;
    height:100vh;
    object-fit: cover;
  
}
.contactContent .contactBox{
   position: absolute;
  right:100px;
}

.contactBox{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 100px;
    z-index:10;
 
   
}
.contactBox input{
margin:20px 20px;
width: 300px;
font-size:2rem;
border-radius: 30px;
}



.contactBox button{
    width:200px ;
font-size: 1.4rem;
border-radius: 30px;
position: relative;
overflow: hidden;
z-index: 0;
}

.contactBox button::after{
    content:"";
    position: absolute;
    width:10%;
    height:100%;
    right:0;
    background-color: chartreuse;
    transition:.3s all ease;
    z-index:-1;
}
.contactBox button:hover::after{
     left:0;
     width:100%;
}

.contactBox button:hover{
    color:red;
    font-weight: 888;
}






@media (max-width:810px) {
    .contactContent img{
        width:100vw;
        height:100vh;
        margin-left: -700px;
    }
    .contactContent .contactBox{
        position: relative;
        left:30px;
    
     
   
        }
}

@media (max-width:750px) {
    .contactContent img{
position: relative;
left:180px;
    }
    .contactBox{
        position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .contactBox textarea{
        width:300px;
        height:100px;

    }
    .contactBox button{
        margin-top:50px;
    }
}

@media (max-width:550px) {
    .contactBox{
        position: relative;
    left:-100px!important;
    }
}

@media (max-width:410px) {
    .contactBox{
        position: relative;
        left:-150px!important;
    }
}


@media (max-width:360px) {
    .contactBox{
        position: relative;
        left:-190px!important;
    }
}