.homeCon{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    flex-wrap: wrap;
    position:relative;
    top:100px;
  
}

.homeCon p{
    width:600px;
    line-height:1.3;
    background: linear-gradient(to right,red,yellow);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 100;
}


.homeCon img{
    border-radius: 50%;
    border:8px solid rgb(227, 252, 1);
    width:300px;
    height:300px;
}
.homeContent h1{
    background: linear-gradient(to right,rgb(250, 4, 225),rgb(0, 208, 255),rgb(255, 255, 0),red);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 888;
}





@media (max-width:768px) {
    .homeCon{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


.homeCon img{
    width:250px;
    height:250px;
    margin-top:50px;
}
.homeContent .firstP{
    width:400px;
    font-size: 1.2rem;
}
.homeContent h1{
    width:300px;
    font-size: 1.4rem;
}
}

@media (max-width:500px) {
    .homeContent .firstP{
        width:250px;
      
    }
    .homeCon img{
        width:200px;
        height: 200px;
    }
   
}



@media (max-width:450px) {
   .homeContent h1{
       font-size:1.2rem;
   }
}