.homeCon{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-top:200px;
}
.homeCon p{
    width: 600px;
    background:linear-gradient(to right,purple,greenyellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    font-weight: 888;
}
.homeCon button{
    position: relative;
    width:140px;
    padding:10px;
    font-size: 1.5rem;
    border-radius: 30px;
    overflow: hidden;
   }


   
.homeCon button::before{
    position: absolute;
    content:"";
    top:0px;
    left:-50%;
    background:#f93606;
height:100%;
width:20%;
transition: .5s all ease;

}
.homeCon button:hover::before{
    left:120%;
}


.homeCon button::after{
    content: "";
position: absolute;
background-color:yellow ;
width:20%;
height: 100%;
right:-50%;
transition:.2s all ease;
}

.homeCon button:hover::after{
    right:100%;

}





@media (max-width:810px) {
    
.homeCon p,h1{
    width:300px;
}


}